[2016-08-31 10:47] cmungall opened #2 "Add examples showing ID<->URI compaction/expansion"
The current examples have IDs (e.g. GO:nnnn) in them. These all correspond to PURLs. The expansion is controlled by a jsonld context. This should be documented with examples

[2016-08-31 10:49] cmungall opened #3 "Compare meta tag with what is used in other parts of bbop stack"
@kltm - does documentation for this exist?

Current UML for OG meta objects (geared towards OWL completeness with simply entry points for OBO-esque consumers)

![img](https://raw.githubusercontent.com/geneontology/obographs/master/images/obographs-uml.png)

cc @nathandunn

[2016-08-31 10:52] cmungall commented on #3
Example of synonyms:

[code]

[2016-09-02 07:53] cmungall opened #4 "s/subj/sub/"
currently inconsistent with bbop-graphs

[2016-09-02 17:30] #4 closed

[2016-09-07 02:50] cmungall opened #5 "Plug obograph code into different ontology conversion and release tools"
- [x] robot - https://github.com/ontodev/robot/issues/94
- [x] owltools DONE; use `-o -f json foo.json`
- [x] oort DONE

[2016-10-20 18:07] cmungall opened #6 "Consider adding labels for properties directly in edges"
see for example OLS JSON

http://www.ebi.ac.uk/ols/api/ontologies/go/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FGO_0098743/graph

cc @simonjupp @kltm

[2016-10-20 19:05] kltm commented on #6
Fairly close, but any idea why nodes and edges are numbered?

[2016-10-27 14:46] dosumis opened #7 "Support for individuals"
Is it legal in obographs to include individuals in the 'existential graph'?  Something like this could work:

Type statement to named class:
"subj" : "Individual A",
"pred" : "InstanceOf",
"obj" : "Class B"

Type statement, simple anonymous class (R some B):
"subj" : "Individual A",
"pred" : "part_of",
"obj" : "Class B"

FACT:
"subj" : "Individual A",
"pred" : "part_of",
"obj" : "Individual B"

Si

[2016-10-27 15:20] cmungall opened #8 "Add a guide for command line tool hackers"
One feature of obo is the ease of doing quick command line hacks, e.g.
- http://read.biostarhandbook.com/ontology/02-sequence-ontology.html
- https://github.com/cmungall/obo-scripts

While not to be encouraged in production pipelines, these are certainly useful for quick ad-hoc operations.

With obographs being json or yaml, it's much easier to write short robust programs that do the equivalent. N

[2016-10-27 15:27] cmungall commented on #7
Yes, OPAs to edges is the most obvious, and is the undocumented behavior now

Not sure I follow the reification

CAs - own axiom type or an edge? I am tentatively opting for the latter

@kltm this differs slightly from ABoxes in MinervaJSON

[2016-10-27 15:34] kltm commented on #8
httpie (httpie.org) and jq are lovely:
[code]
[code]

[2016-10-27 15:46] kltm commented on #8
A more real example:
[code]

[2016-10-27 16:30] dosumis commented on #7
Seems clear enough to me:

ClassA has_exemplar value IndividualB
<->
"subj" : "Class A",
"pred" : "has_exemplar",
"obj" : "Individual B"

Can we try to keep to a single vocab for this?

OPA = FACT
CA (class assertion) = type axiom ?

[2016-10-31 20:25] cmungall opened #9 "Gather feedback from developers of bioinformatics tools that consume ontology files"
Many developers have written redundant obo parsers in various languages. Due to the details of the spec it is difficult to write a robust parser. OWL is very difficult to work with, many people use the wrong level of abstraction, e.g. XML parsing. obographs is designed with these developers in mind, see https://douroucouli.wordpress.com/2016/10/04/a-developer-friendly-json-exchange-format-for-onto

[2016-11-15 11:34] dosumis commented on #7
Would be fantastically useful for VFB if generation could be extended to cover at least the I:C and I:I examples above.

[2016-11-15 18:54] cmungall opened #10 "owl versionIRI should be mapped"
Currently versionIRI is lost in translation

cc @dosumis @tonysawfordebi

[2016-11-15 18:59] #10 closed

[2016-11-15 19:07] cmungall opened #11 "Defie behavior when punning is used"
Current spec assumes no punning. E.g. the type field of a node is one of INDIVIDUAL, CLASS, ...

Should we explicitly forbid punning or explicitly say behavior is undefined?

[2016-11-15 19:07] cmungall commented on #7
[code]

This is a nice convenience pattern. However, the reverse mapping becomes ambiguous if we have punning. But this may not be a problem if we say punning out of scope: #11

[2016-11-15 19:09] cmungall commented on #7
hasValue pattern understood (it was the reificiation terminology that threw me). Same comments as above.

[2016-11-15 19:13] cmungall opened #12 "Implement hasValue and anon class assertion mappings"
Dependent on agreement on #7

These have yet to be implemented:

[code]

[code]

[2016-11-15 19:13] cmungall commented on #7
How should we handle negative property assertion axioms?

[2016-11-15 19:16] cmungall opened #13 "Define mapping for obsoletion/deprecation"
cc @dosumis @tonysawfordebi

[2016-11-15 19:29] cmungall commented on #13
OK, using a generic translation of

[code]

we get

[code]

which is fairly ugly. Consider convenience tags

[2016-11-16 11:02] dosumis commented on #11
I don't currently have use cases for it (can share some?) and wouldn't want to lose expressiveness by trying to support it.  I'm agnostic about whether to forbid or say behavior is undefined.  Presumably if explicitly undefined then we just don't specify any translation where one of the nodes is not INDIVIDUAL or CLASS?

[2016-11-16 18:55] cmungall commented on #11
On 16 Nov 2016, at 3:02, David Osumi-Sutherland wrote:

The goal is to support full expressivity, it's just that certain
patterns would not be conveniently represented in a basic graph. We can
have otherwise unmappable axioms fall back to a very generic axiom
object (not yet implemented).

But overall I agree, we want to maximize convenience and intuitiveness.

That would be one possibility.

Howe

[2016-11-18 16:24] dosumis commented on #5
Does this ticket cover plans for conversion from obo-graph to OWL or should I start a new ticket?

I can think of lots of use-cases for working in this direction, e.g. a pure Python implementation of DOS-DPs (limited to suitable simple design patterns).

[2016-11-18 19:23] cmungall commented on #5
Let's do a new ticket for this

[2016-11-22 01:06] cmungall opened #14 "Implement ID/CURIE<->URI expansion and contraction"
We want to be able to expand and contract URIs using either a simple yaml curie map or a JSON-LD file. The latter provides certain advantages such as being a standard, and also allow recursive application of rules.

Doing this using a yaml map should be very easy. However, we end up implementing this code multiple times, it might be worth abstracting this into a separate java library. This could l

[2016-11-28 20:36] balhoff commented on #14
@cmungall anything missing from the interface specified here?

https://github.com/phenopackets/phenopacket-reference-implementation/blob/master/src/main/java/org/phenopackets/api/util/ContextUtil.java

One thing I see is maybe passing a collection of identifiers to expand all at once, getting back a Map with the results.

Any thoughts on the type vs. value nuances for expansion? (e.g. https://gith

[2016-11-28 21:30] cmungall commented on #14
For the general purpose module @jguyenx is writing we'd want to avoid all the JSON-LD edge cases and have a straightforward transform that is independent of where we are in the document.

I think your code is a good starting point, we may be able to reuse it directly

[2016-12-06 22:45] jnguyenx commented on #14
Here's my first draft:
https://github.com/prefixcommons/curie-util

Let me know what you think.

[2016-12-10 01:42] jnguyenx commented on #14
@cmungall @balhoff @kltm @kshefchek

[2016-12-14 19:17] jnguyenx commented on #14
Pushed to Maven Central:
http://search.maven.org/#artifactdetails%7Corg.prefixcommons%7Ccurie-util%7C0.0.1%7Cjar

[2016-12-29 19:16] cmungall opened #16 "Consider unabbreviated field names for node labels and edge fields"
Moved discussion from #15 from @cmpich

Consider lbl->label, sub->subject, obj->object, pred->relation/predicate

Pros:
 - correspond to terms used in rdf/rdfs vocabulary
 - greater clarity

Cons:
 - breaks compatibility with js code that accepts bbop-graphs, and with software that produces bbop-graphs (e.g. scigraph)
 - increased size of payload

The compatibility is a larger concern. If payload

[2017-01-08 03:27] cmungall commented on #9
Many consumers

[2017-01-09 12:50] tonysawfordebi opened #18 "Term comments not present in go-plus.json"
As well as the issue (reported elsewhere) of the "is_obsolete" flag not being present in the JSON representation, I've also spotted that term comments are missing too.

[2017-01-09 13:27] #13 closed

[2017-01-09 13:37] #18 closed

[2017-01-09 13:40] cmungall commented on #18
Both #17 and #19 are in 0.0.9 which has just been staged at mvncentral

if you want to experiment you can change the pom.xml for owltools. I'll do this sometime this week after which changes will propagate to http://purl.obolibrary.org/obo/go/extensions/go-plus.json

[2017-01-10 14:55] tonysawfordebi opened #20 "Over-enthusiastic escaping of double quotes?"
There are a few cases where it looks like double quote characters embedded in a term's definition are being escaped with a bit too much zeal.

For example, this from the definition of GO_0061232:

...is a specialized epithelial cell that contains \\\"feet\\\" that interdigitate with the \\\"feet\\\" of other glomerular epithelial cells in the mesonephros.

Other terms that appear to be similarly a

[2017-01-10 17:20] cmungall commented on #20
NSWYM - this is just standard JSON escaping? What parser are you using?

[2017-01-10 17:22] cmungall commented on #20
Ah, I think you actually tried to use additional backslashes here but github escaped them...

the translation is fine. The source obo has 3 backslashes followed by a quote:

[code]

[2017-01-10 17:22] #20 closed

[2017-01-24 11:53] dosumis opened #21 "GCIs in obographs"
Any suggestions for how one might encode simple GCIs (e.g. R1 some C1 SubClassOf C2;  R1 some C1 SubClassOf R2 some C2) in OBOgraphs?

Or is this a step too far?

[2017-01-24 15:54] cmungall commented on #21
I think there should be a simple representation for simple existential
GCIs (analogous to obo format) and a fall-through to a generic OWL axiom
representation.

One option is to encode the existentials on the LHS as an edge property
(as in obof). The danger is here that ignoring the edge properties gives
the wrong semantics.

On 24 Jan 2017, at 3:53, David Osumi-Sutherland wrote:

[2017-03-08 15:19] tonysawfordebi opened #22 "References associated with taxon constraints are missing from go-plus.json"
References that are associated with taxon constraints, and which are visible in go-plus.obo, are not finding their way into go-plus.json

A couple of examples from go-plus.obo:

[Term]
id: GO:0045271
name: respiratory chain complex I
...
relationship: never_in_taxon NCBITaxon:4896 {id="GOTAX:0000525", source="PMID:21597881"} ! Schizosaccharomyces pombe
relationship: never_in_taxon NCBITaxon:4932 {

[2017-03-09 16:17] dosumis opened #23 "obographs 2 OWL conversion"
Conversion from obo-graph to OWL would be very useful e.g. for a pure Python implementation of DOS-DPs (limited to suitable simple design patterns), or a simple, OWL-API independent OWL writer for the VFB KB.  Any prospects for this?

[2017-03-09 16:17] dosumis commented on #23
#5

[2017-03-09 16:33] cmungall commented on #23
Just a matter of finding the time. I'm tempted to converted the reference converter to scala, so much pattern matching, horrible in java, cc @balhoff

We may end up with some export ability in python:
https://github.com/biolink/biolink-api/tree/master/obographs

but the canonical converter should be a JVM language

[2017-03-09 16:45] dosumis commented on #23
Make sense. Will probably use SCOWL for new VFB NEO KB to OWL script.

[2017-03-09 16:49] dosumis opened #24 "Add some way to distinguish object properties from annotation properties"
There is no obvious way to distinguish between OPs and APs in the current version of OBO graphs.

[code]

It would be very useful if there was.  If it is too late to change the allowable contents of the 'type' slot, could this instead be done by adding an new field?

[2017-03-09 16:51] dosumis commented on #24
(Aside: IUPAC_NAME URI mess is presumably an artifact of fbbt import chain + OBO2OWL conversion.)

[2017-03-09 16:59] dosumis commented on #24
Presumably conversion from obographs to OWL would depend on this distinction being unambiguous.

[2017-03-09 17:07] cmungall commented on #24
Well, it's possible to go from RDF to OWL without explicit declarations, but the OWLAPI does dark magic here.

+1 to explicit declarations

Just looking to see if there is a standard enum to be used in the OWLAPI. Currently using RDF.PROPERTY.

[2017-03-10 10:30] dosumis commented on #18
I've just updated to the latest OWLtools, but using this, the complete set of meta keys is still:

{'definition', 'subsets', 'synonyms', 'xrefs'}

Compared to this for the released version of go-plus.json:

{'basicPropertyValues',
 'comments',
 'definition',
 'deprecated',
 'subsets',
 'synonyms',
 'xrefs'}

Does something still need to be done to propagate changes through to OWLtools?  I need thi

[2017-03-10 14:48] cmungall commented on #22
On 8 Mar 2017, at 7:19, Tony Sawford wrote:

       "id" : "http://purl.obolibrary.org/obo/GO_0045271",
	  ...
         "basicPropertyValues" : [ {
           "pred" : "http://purl.obolibrary.org/obo/RO_0002161",
           "val" : "http://purl.obolibrary.org/obo/NCBITaxon_4932"
         }, {

       "sub" : "http://purl.obolibrary.org/obo/GO_0019819",
       "pred" : "http://purl.obolibrary.org/o

[2017-03-10 14:53] cmungall commented on #18
You can always do a mvn build from this repo then run `ogger` script in this repo to use the latest from master.

Or make a PR to that updates the pom.xml in owltools to use the latest mvncentral version of this lib (this can be seen on the badge in the README.md in this repo). My latest commit (linked here) does this, so you should be good with a new owltools build for now, but it may lag again i

[2017-03-10 14:56] tonysawfordebi commented on #22
Actually, I did understand why o_i_t and n_i_t were represented differently, but that wasn't my question. Indeed, I didn't actually ask a question, but made an observation ;)

The lack of the references associated with the taxon constraints is now the only difference between the output that my new obograph parser generates and that from my current owltools-based lash-up, so if there was a way to g

[2017-03-10 15:28] cmungall commented on #22
oh, I should really read comments before replying! Yes you quite clearly said references. But hopefully my pedagogic excursion will be of use to anyone else puzzled by the TC representation.

so the simplest thing would be to include annotations on annotation assertion axioms (which should be done in any case), giving you a direct analog to the OWL.

I still think we should eventually move away fr

[2017-03-10 15:29] cmungall opened #25 "AnnotationAssertionAxioms should retain annotations"
From #22

[2017-03-31 20:38] cmungall commented on #16
See also comments from @kltm on https://github.com/owlcollab/owltools/pull/178#issuecomment-290822894

[2017-03-31 20:47] kltm commented on #16
Reading through this, I would say that actually size is worth considering on it's own in an over-the-wire format like this. While servers can do nice things with compression on the fly, without it, in our own tests, it did significantly slow down clients interacting with the data.

[2017-04-03 15:27] dosumis opened #26 "Property node missed for http://xmlns.com/foaf/0.1/depicts"
This OWL file has the property: " http://xmlns.com/foaf/0.1/depicts"
http://purl.obolibrary.org/obo/fbbt/vfb/vfb_ext.owl

But it appears to be missing from the JSON rolled by owltools:

complete node set:

[code]

[2017-05-02 12:55] tonysawfordebi opened #27 "ncbitaxon_import.owl missing some classes"
The following classes are missing from ncbitaxon_import.owl:

NCBITaxon_147554
NCBITaxon_27896
NCBITaxon_28009
NCBITaxon_3312
NCBITaxon_3378
NCBITaxon_4895
NCBITaxon_4896
NCBITaxon_4930
NCBITaxon_4932
NCBITaxon_6237
NCBITaxon_8782

They appear to be classes that are referenced *only* in never_in_taxon constraints.

Also, there doesn't seem to be any definitions of any of the NCBITaxon_Union classe

[2017-05-03 08:42] tonysawfordebi commented on #27
These classes are also referenced, but are missing from the imported files:

CHEBI_24627
CHEBI_64470
CHEBI_64472
CHEBI_64501
DDANAT_0000094

[2017-05-04 11:15] tonysawfordebi opened #28 "Inconsistency between go-plus.json and go-plus.owl/obo"
In go-plus.json GO:0080039 is shown as deprecated, while is go-plus.owl/obo it still appears as a valid, live term.
`{
      "id" : "http://purl.obolibrary.org/obo/GO_0080039",
      "meta" : {
        "basicPropertyValues" : [ {
          "pred" : "http://purl.obolibrary.org/obo/IAO_0000231",
          "val" : "http://purl.obolibrary.org/obo/IAO_0000227"
        }, {
          "pred" : "http://pu

[2017-05-04 19:52] cmungall commented on #28
What is the versionIRIs?

owl is fine:

[code]

The .obo is lagging. It's not officially supported:

http://geneontology.org/page/download-ontology

However it's not ideal to have it be out of date. Do you actively use it?

[2017-05-04 21:32] cmungall commented on #26
looks like it's omitting nodes without labels

[2017-05-05 07:20] tonysawfordebi commented on #28
OK - this appears to have been a timing issue...
In <owl:versionIRI rdf:resource="http://purl.obolibrary.org/obo/go/releases/2017-05-02/extensions/go-plus.owl"/> we have:
`<owl:Class rdf:about="http://purl.obolibrary.org/obo/GO_0080039">
    <rdfs:subClassOf rdf:resource="http://purl.obolibrary.org/obo/GO_0046527"/>
    <obo:IAO_0000115 rdf:datatype="http://www.w3.org/2001/XMLSchema#string">Cataly

[2017-05-10 21:46] kltm opened #29 "Commentary on obographs proposal (@kltm)"
@cmungall I'm unsure of the format that you want, so I'm making an actionable super/epic (bleh); I can split these up as well if that works for you.

- [ ] The bbop-js codebase is /almost/ completely legacy/defunct, and completely defunct as far as graphs go. I've tried to port the wiki pages and links over; the proper base reference should be:
 https://github.com/berkeleybop/bbop-graph
 https://g

[2017-05-11 00:20] cmungall commented on #29
Thanks, some early thoughts, more later

## github links

 thanks, we should fix the links

## basic profile

OK, we should spell out the BOG profile :-) though it's mainly there for explanatory purposes, there is no distinct format, it's a profile like OWL2-EL etc

## meta tags

The goal here is to have a fixed standard that can express the full range of OWL, with some convenient shortcuts for co

[2017-05-11 00:31] kltm commented on #29
It would be interesting to see practically how incompatible obographs and bbop-graph-noctua really are (i.e. are they both "subclasses" of bbop-graph or can they be related to eachother more directly).

Also, just to note that bbop-graph-noctua has more `value-type` as well:
[code]

[2017-07-21 22:09] #28 closed

[2017-07-21 23:04] kltm commented on #29
Is the coverage of this ticket considered in https://github.com/geneontology/obographs/milestone/1?

[2017-07-28 14:46] cmungall opened #30 "Improve documentation on IDs/URIs"
https://github.com/geneontology/obographs/blob/master/README-owlmapping.md
"Every identifier in an OBO Graph is interpreted as a URI. At the JSON/YAML level, these may be compacted URIs. The expansion to a full URI is specified via a JSON-LD context object. Context objects may be at the level of the graph document or an individual graph."

This is a bit opaque. We should have a clear normative spe

[2018-02-14 22:04] yy20716 opened #31 "No getter method exists for the variable deprecated in Meta"
I realized that somehow [Meta](https://github.com/geneontology/obographs/blob/master/src/main/java/org/geneontology/obographs/model/Meta.java) classes do not provide getter methods for `deprecated`. Are there any other ways to figure out whether a specific node is deprecated? Thank you.

[2018-03-19 19:57] yy20716 opened #33 "About getting nodes in obographs"
Suppose that we have the following owl snippet.
[code]
When I parse the above snippet using obograph and request the list of nodes from the obograph object, the list I got only contains Subject node only, i.e. in this case `MONDO_0007648` only without `MONDO_0005017`. I would like to know whether this is an intended behavior or I misunderstood something. Is this because of subClassOf? I am using t

[2018-03-19 20:06] cmungall commented on #33
This sounds like a bug

[2018-03-19 23:39] yy20716 commented on #33
I am sorry but I realized that I put a wrong tag in the above example. I made a copy-and-paste error, i.e.
[code]
but this should be
[code]
In other words, because of this resource tag, owlapi does not consider `MONDO_0005017` as a class, so obograph does not basically execute [the codes that parse OWLDeclarationAxiom and convert them as nodes](https://github.com/geneontology/obographs/blob/ab211c

[2018-03-20 00:22] balhoff commented on #33
I don't think it's valid RDF/XML to use `rdf:resource` here. If it is used to indicate the object of a predicate, the predicate is the element name. But `owl:Class` is not a predicate. At least that's my reading of https://www.w3.org/TR/rdf-syntax-grammar/#section-Syntax-empty-property-elements

[2018-03-20 01:27] yy20716 commented on #33
Thanks for your clarification. Yes, in other words, owlapi's behavior and interpretation is correct, i.e. rdf:resource should not be used there.

[2018-05-23 21:01] cmungall opened #35 "Add examples on how to reconstruct obo alt_ids"
cc @pnrobinson

[2018-05-23 21:02] cmungall opened #36 "Add getType() on node"
@pnrobinson needs for phenol parser

[2018-05-23 21:08] #36 closed

[2018-06-04 20:38] pnrobinson opened #37 "Null pointer with Node.getType()"
I am using phenol (https://github.com/monarch-initiative/phenol) to parse the example GO obo file in that repository. It seems to be picking up this as a Node:
[code]
This is leading to a null error, in the debugger, I can see that the "type" attribute of the corresponding node object is null.

[2018-06-04 20:41] pnrobinson commented on #37
![obographerror](https://user-images.githubusercontent.com/4943420/40940540-2100e630-6816-11e8-9f7a-804cebe433c8.png)

[2018-06-04 20:43] pnrobinson commented on #37
Please leave a message here
https://github.com/monarch-initiative/phenol/issues/92
if this issue can be addressed.

[2018-07-10 17:39] cmungall opened #38 "Include synonym types"
The code currently translates synonym scope, but not user-defined types

cc @pnrobinson

[2018-07-10 18:01] cmungall commented on #38
Test ontology

[code]

Meta object looks like this:

[code]

should also include a type field

[2018-08-08 16:43] danielapoliveira opened #39 "Multiple inheritance not parsed to JSON"
I converted the EFO ontology from OWL to JSON using obographs but I came across an issue when dealing with the representation of multiple inheritance in this ontology. For example, the class [http://www.ebi.ac.uk/efo/EFO_0005117](http://www.ebi.ac.uk/efo/EFO_0005117) has its parents represented as:

[code]
However, in the JSON file that obographs produces I can't find reference to these edges anyw

[2018-08-08 16:57] cmungall commented on #39
Thanks. Currently not all of OWL is supported.

Regardless of the export format I would recommend either [relax](http://robot.obolibrary.org/relax)ing to a logically equivalent form that is easier to use.

E.g.

[code]

(I would also recommend separating the axioms this way in the edit version of the ontology but that's personal preference)

[2018-08-09 13:35] danielapoliveira commented on #39
Thank you for the tip. I will look into finding a workaround then.

[2018-08-09 13:35] #39 closed

[2019-03-17 16:17] beckyjackson opened #41 "FromOwl.generateGraph class cast exception"
From @dosumis , migrated from https://github.com/ontodev/robot/issues/260

[code]

[2019-03-21 15:01] rctauber opened #42 "Standard order of JSON serialization"
From @matentzn in https://github.com/ontodev/robot/issues/447

[2019-04-06 04:34] saramsey opened #43 "serializing to JSON leads to OutOfMemory exception"
Hi,
I have a 5.5 GB OWL file "umls.owl". When I run

`robot convert --input umls.owl --output umls.json`

on a machine with 392 GB of RAM (and with '-Xmx390G' passed to java), I get the following exception:

[code]

I wonder if the problem is that `OgJsonGenerator.prettyJsonString` is calling `mapper.writerWithDefaultPrettyPrinter` which may be trying to return a massive `String` object that is bi

[2019-04-06 05:07] saramsey commented on #43
Would using `ObjectWriter.writeValue(output_stream, object_value)` make sense?

https://stackoverflow.com/questions/34657372/java-lang-outofmemoryerror-java-heap-space-with-json-conversion

[2019-05-26 06:39] althonos commented on #5
@cmungall: ontodev/robot#94 was closed so you can probably close this as well :smile:

[2019-05-30 19:24] #5 closed

[2019-06-28 18:47] cmungall opened #44 "Annotations on xref annotation assertions are not serialized in json"
Carried over from https://github.com/monarch-initiative/mondo/issues/753

test case

[code]

produces:

[code]

loses `source`

[2019-08-04 22:10] althonos opened #46 "Improve semantics of synonym types"
Hi! This is related to my current work on [`fastobo-graphs`](https://github.com/althonos/fastobo-graphs) to provide OBO JSON support in native Rust and Python.

Currently, the synonym type case is handled the following way in ROBOT: a new synonym type is declared as a new node in the OBO graph, and that node does not have a type, which is the only case of a missing node type I found in OBO graphs.

[2019-08-04 22:54] cmungall commented on #46
The alternative is to be more owl-centric and use annotation property as the type, as that is how it is modeled in OWL. This goes against the grain a bit with OG, so I think your proposal makes more sense.

We should do the same for subsets, also (somewhat weirdly) represented as APs in OWL

[2019-08-05 09:38] matentzn opened #47 "Sort JSON serialisation of obographs"
Not sure this is the right place, but it would be great if you could find a way that JSON serialisations are sorted so that syntactic diff tools (like git diff) can be used effectively. See also https://github.com/INCATools/ontology-development-kit/issues/150

[2019-08-19 15:03] cmungall commented on #47
This is the right place. Agreed on priority. Not sure when we can dedicate
resources to this.. maybe there is a quick fix in the json serialization
code?

On Mon, Aug 5, 2019 at 2:38 AM Nico Matentzoglu <notifications@github.com>
wrote:

[2019-08-23 22:17] tgbugs commented on #9
Another python parser and serializer for the list https://github.com/tgbugs/pyontutils/blob/master/pyontutils/obo_io.py.

[2019-08-27 01:41] MrCreosote opened #48 "Missing property nodes for preds in go basic"
There appear to be some `pred` definitions in go basic that don't have corresponding property nodes. I believe there were also some `val` values that were missing property nodes as well that Seth found - `IAO_0000277` I think? That could be wrong though.

go-basic was downloaded from obo foundry a few hours ago.

[code]

[2019-09-09 10:32] matentzn commented on #42
Closing as duplicate of https://github.com/geneontology/obographs/issues/47

[2019-09-09 10:32] matentzn commented on #42
I mean, someone with rights should close it.

[2019-09-09 15:41] matentzn opened #49 "Casting error needs to be more informative"
This is unfortunately impossible to debug other than with binary search (deleting portions of the ontology until it works..)

[code]

[2019-09-09 16:20] matentzn opened #50 "Help needed: oboInOwl spec vs obographs"
I need a recommendation of what to do when people [physically include](https://github.com/monarch-initiative/GENO-ontology/blob/develop/src/ontology/geno.owl) the oboinowl ontology in their ontology; can I safely recommend to remove it in all cases?

The reason I am posting this here is that running

[code]

causes #49

And I dont understand whether this is intentional (i.e. oboinowl ontology is s

[2019-09-09 16:23] matentzn commented on #50
I guess the problem must be this:

[code]

While oboInOwl:hasDefinition is an annotation property.. Not really allowed in RDF i assume.

[2019-09-17 17:24] cmungall opened #51 "Add second order annotations"
See for example: https://github.com/DiseaseOntology/HumanDiseaseOntology/pull/748

[2019-10-02 04:19] cmungall commented on #50
Never include it. It predates OWL2. In the new OBO OM we should redefine
the PURLs.

On Mon, Sep 9, 2019 at 9:29 AM Nico Matentzoglu <notifications@github.com>
wrote:

[2019-11-12 17:31] julesjacobsen opened #52 "Check round-trip JSON <-> Object model is possible"
Attempting to read a JSON ontology with Jackson like so:

[code]
results in:

[code]
This is likely due to model missing '@JsonDeserialize(builder = Node.Builder.class)' annotations.

[2020-01-22 22:24] #38 closed

[2020-02-08 16:02] pnrobinson opened #54 "Create maven central release for fix of missing synonym type"
@cmungall

[2020-02-18 01:33] cmungall commented on #54
This is in reference to #38

[2020-02-18 01:34] cmungall commented on #54
@balhoff @julesjacobsen would you be able to help?

[2020-02-18 03:43] balhoff commented on #54
I think I've successfully released it. Please check! @cmungall can you give me permissions here so I can push my tag `v0.2.0`.

[2020-02-20 15:12] pnrobinson commented on #54
Thanks! I have integrated this into phenol and it is working. I will close.

[2020-02-20 15:12] #54 closed

[2020-02-20 17:12] balhoff opened #58 "running mvn package doesn't work on Java 11"
Building obographs requires Java 8 at the moment. Running on Java 11 gives this error:

[code]

[2020-02-21 14:50] julesjacobsen commented on #52
@cmungall @balhoff @dosumis - I've added what I think are all the missing annotations allowing people to read the json documents back into memory from disk. Do you have any way of testing this is complete?

[2020-02-26 17:24] #52 closed

[2020-02-26 17:49] julesjacobsen commented on #47
This would be really handy. You can assign this to me if you like. It's a matter of adding the `@JsonPropertyOrder` annotation to the class.

[code]

[2020-02-26 17:50] julesjacobsen opened #60 "Consider using immutables for core classes"
http://immutables.github.io/

[code]

[2020-02-26 17:52] matentzn commented on #47
a.m.a.z.i.n.g. +100

[2020-02-27 15:49] julesjacobsen commented on #60
@cmungall I've converted the `model` classes and removed about 500 lines of boilerplate! *However*, all is not 100% ok. There are issues where previously the library was happy to tolerate null references, whereas immutables doesn't tolerate these by default.

For example in `org.geneontology.obographs.model.meta.PropertyValue`

[code]

Implementing this in `XrefPropertyValue`, what should the defa

[2020-02-27 15:55] julesjacobsen commented on #60
@cmungall One other issue is there is a cyclical dependency between `Meta` and practically everything else. For example, in `MetaTest`

[code]

I get an error as the requisite Meta field of XrefPropertyValue  is not set. Should `Meta` really be optional in most cases?

[code]

[2020-02-27 17:40] julesjacobsen opened #61 "EquivalentNodesSet.representativeNodeId() is not used in production code"
EquivalentNodesSet.representativeNodeId() is used in the unit test, but never set in the production code. The EquivalentNodesSet  is only used in FromOwl:

https://github.com/geneontology/obographs/blob/f56ec1458f11e5af5b3b59581f3f4f0d24d9853a/src/main/java/org/geneontology/obographs/owlapi/FromOwl.java#L236-L239

Is this method really required as a setter? Seems it could be a default method to ju

[2020-02-27 22:54] julesjacobsen commented on #60
Currently working in [immutables branch](https://github.com/julesjacobsen/obographs/tree/immutables/src/main/java/org/geneontology/obographs/model)

[2020-02-27 23:05] julesjacobsen commented on #60
Looks really, really nice now. Here is a Node:

[code]
Codes exactly as before, so need need for an API change.

[2020-02-28 11:09] julesjacobsen commented on #47
Actually, some of this won't be possible - the order of Axioms coming out of the OWLAPI cannot be guaranteed as they use a HashSet internally and a HashMap both of which is inherently unordered. This is incredibly irritating. If only they used a Linked implementation or a Guava Immutable version both of which are ordered.

[2020-02-28 11:34] matentzn commented on #47
Right.. Somehow the owl api serialisers are sorting the axioms though; maybe we can reuse the code for the functional syntax serialiser! That should put it all in order?

[2020-02-28 12:14] julesjacobsen commented on #47
If you fancy having a dig around in the OWLAPI code you might be able to figure out a way to do this. The relevant entry point is `OWLOntology.getAxioms()`

[2020-02-28 13:37] matentzn commented on #47
Given [this](https://github.com/owlcs/owlapi/issues/908#issuecomment-592505713), can you load the axioms in a list and sort them prior to processing @julesjacobsen ?

[2020-02-28 13:40] julesjacobsen commented on #47
Thanks for checking, this should be simple enough!

[2020-02-28 13:59] julesjacobsen commented on #47
Can you also give me a preferred order for node, edge etc. fields?

[2020-02-28 14:02] matentzn commented on #47
This you need to check with @cmungall I dont know anything about the obographs format at all unfortunately..

[2020-02-28 14:19] julesjacobsen commented on #47
Just to tantalise you I appear to have a fully reproducible OWL -> obographs -> json outputs the same every time.

But it in the immutable branch Nico, could you see if that works for you? It's a complete re-write of the core so needs a thorough test.

[2020-02-28 14:24] matentzn commented on #47
uuuuuu I would love to jules, but unfortunately I am unable to prioritise this with the madness of simon leaving at the moment.. I can offer code review! But testing would just postpone this feature for a very long time.

[2020-02-28 14:39] julesjacobsen commented on #47
Damn. Code review would be good, but there is hardly any code to review! The point of the change was to replace all the manual builder code with auto-generated code.

It ought to be a more or less drop-in replacement for the existing library. Looking at Robot there should be no code changes required, but you might need to get your Jackson dependencies all nicely lined-up as these can throw errors

[2020-02-28 14:41] matentzn commented on #47
If you share with me a jar, and an example invocation of a conversion, I will try to schedule a testing session with all ontologies I work with next week..

[2020-02-28 14:56] julesjacobsen commented on #47
That would be awesome - do you want a new version number or the current 0.2.1?

[2020-02-28 14:57] matentzn commented on #47
I dont really mind, I usually only access the code through ROBOT.. a generic obographs.jar will do, I will delete it when the tests are done!

[2020-02-28 15:01] julesjacobsen commented on #47
Much appreciated- just change the extension to .jar
[obographs-1.0.0 .zip](https://github.com/geneontology/obographs/files/4267626/obographs-1.0.0.zip)

[2020-02-28 15:05] matentzn commented on #47
Great, if you give me an example invocation that reads an OWL file and writes a JSON (and vice versa), I will take care of it! :P

[2020-02-28 15:25] julesjacobsen commented on #47
[code]

[2020-02-28 15:27] matentzn commented on #47
Thats great, thanks! I will do it in the next 5-10 working days.

[2020-02-28 15:55] julesjacobsen commented on #47
Tried that last bit and did indeed find an error - please use this version!
[obographs-1.0.0.zip](https://github.com/geneontology/obographs/files/4267829/obographs-1.0.0.zip)

I really appreciate you taking the time to do this. Mind you, in the end everyone should benefit as the API is more useable, much more robust. For example it has fewer null values and does other useful things like implement

[2020-02-28 16:02] julesjacobsen commented on #60
@cmungall I think I have this working now and @matentzn has volunteered to kick the tyres on all his ontologies. Assuming this all works without issue, there are still two things to address.

1 - Can you recommend a specific order for the field names in all the model classes?
2 - In the `SynonymPropertyValue` there is a bit of fiddling with a `SCOPES` enum and some string representation which seem

[2020-03-03 17:38] matentzn commented on #47
@julesjacobsen could you send me a working version of the pom.xml you are using? I keep getting dependency issues..  I tried to simply copy the dependencies from the obographs project, but even then I get this:

[code]

Thanks!

[2020-03-04 10:56] julesjacobsen commented on #47
@matentzn The source code is here: https://github.com/julesjacobsen/obographs/tree/immutables

These are the updated dependencies:
https://github.com/julesjacobsen/obographs/blob/6d8cc2f8c522b5571c0b96d9623c04f69fcad424/pom.xml#L198-L213

[2020-03-04 11:08] julesjacobsen commented on #47
Actually one more thought - this needs to be backwards compatible with json produced using the old version. Can you use the updated version from master (this has the assertion order fixed) and do a diff of the JSON produced by both FromOwl tests. i.e. (OWL - FromOwl -> OgJsonGenerator.render() -> JSON ) for both 1.0.0 and a new build from https://github.com/geneontology/obographs/tree/master. Make

[2020-03-04 11:36] matentzn commented on #47
Works with the new dependencies! Unfortunately, I cant right now do anything else; I am just too swamped. Would it help you if I send you a zip of test files?

[2020-03-04 13:25] julesjacobsen commented on #47
Now even more sorted! Sure, if you're swamped, send me a zip of test files.
[obographs-1.0.0.zip](https://github.com/geneontology/obographs/files/4287480/obographs-1.0.0.zip)

[2020-03-05 15:27] julesjacobsen commented on #47
This should be fixed by https://github.com/geneontology/obographs/pull/63

[2020-03-10 22:43] cmungall commented on #60
this is brilliant, thanks so much!

order: let's be consistent with https://owlcollab.github.io/oboformat/doc/GO.format.obo-1_4.html#S.3.5

so it would be

 - id
 - lbl
 - type
 - meta

for nodes

within meta

 - def
 - syn
 - xref
 - generic

sorry have not had a chance to look into SCOPES

[2020-03-12 11:53] julesjacobsen commented on #60
OK, cheers. given Meta is common to all I'll make this the last element in all cases.

Meta is ordered:

[code]

I fixed the order of Edge to be:

[code]

[2020-03-27 17:51] blueharmony opened #64 "Failed tests: PrefixHelperTest.testPrefixHandling"
This test is failing using Java "1.8.0_241".
$ mvn package
.
.
.
[code]

Tests run: 23, Failures: 1, Errors: 0, Skipped: 0

[2020-04-06 17:40] dosumis opened #65 "obographs should distinguish between annotationProperty, objectProperty & dataProperty"
[Current specification for node types](https://github.com/geneontology/obographs/blob/master/schema/obographs-schema.json#L147)
 has only:

[code]
I guess that changing this enum now to distinguish OP, AP & DP is not possible as it would be a pretty major breaking change.  Would it be possible instead to add  a property_type key with enum:

[code]

?

(I'm sure I requested this several years ago,

[2020-04-06 17:41] dosumis commented on #65
Use case: loading neo4j property graphs to allow subsequent conversion to OWL.

[2020-04-28 06:16] leechuck opened #66 "How to cite"
Is there a citation available for the methods underlying OBOGraphs? If yes, it would be great to add this to the README.

[2020-05-18 16:07] julesjacobsen commented on #60
@cmungall I'm getting back into this having lost the will to live getting the output to be 100% reproducible when trying to fix the ordering.

For the purposes of maximum utility for @matentzn the absolute order isn't important, but consistent order is. Plus at the end of the day what is more important - having a consistent data structure in memory for use or laid out for human inspection? I reali

[2020-05-18 16:12] matentzn commented on #60
FWIW,  I think that getting a FIXED order is 100 times more important than a PRESCRIBED one. So my vote is that we should move on that one before anything else.

[2020-05-18 16:13] matentzn commented on #60
@balhoff you can chime in as well if you like!

[2020-05-20 19:45] julesjacobsen commented on #60
New update - we now have cake and are eating it by the fistfull. Preliminary tests have showed we can have a nicely ordered _and_ sorted output. The reason for this is obscure, but is based on the Set implementation used in OWLAPI and the need for a special sort method to be used on them. Thanks to @matentzn for pointing me in the right direction on this. Will tidy and submit a PR in a bit.

[2020-05-21 19:00] julesjacobsen commented on #47
It's working- 3ddcee2e37f03a4886ae94738f9084f2472c9508

@matentzn  should be testing this in Robot. n.b. Updating Robot to use the new Immutables branch will require a code change  - see https://github.com/ontodev/robot/issues/670

[2020-05-21 19:01] julesjacobsen commented on #60
It's working- 3ddcee2e37f03a4886ae94738f9084f2472c9508

@matentzn  should be testing this in Robot. n.b. Updating Robot to use the new Immutables branch. Once you're happy, Nico I'll create a PR. @balhoff can you give this a spin too?

[2020-09-19 10:08] matentzn opened #68 "Need a property "mergedWith" or something similar for obsolete terms"
So we have two Terms:

A "label 1"
B "label 2"

We merge them both into B "label 2"

There should be some way to understand from the JSON that A was merged into B.

[2020-09-21 13:22] balhoff commented on #68
There is a pattern for this embedded in the OBO to OWL conversion in OWL API:

AnnotationAssertion([has obsolescence reason](http://purl.obolibrary.org/obo/IAO_0000231) GO:2000695 [terms merged](http://purl.obolibrary.org/obo/IAO_0000227))
AnnotationAssertion([term replaced by](http://purl.obolibrary.org/obo/IAO_0100001) GO:2000695 GO:0000920)
AnnotationAssertion(owl:deprecated <http://purl.obolib

[2020-10-13 17:58] dosumis opened #70 "How is the AP mapping for the deprecated key specified."
Schema has deprecated as a primary key under meta:
https://github.com/geneontology/obographs/blob/master/schema/subschemas/obographs-meta-schema.json#L123

I have code that relies on this when parsing obographs JSON, but recently this not been showing up in translations, instead ending up only as a `pred` `val` pair under `basicPropertyValues`, e.g. -

{'id': 'http://purl.obolibrary.org/obo/FBbt_0

[2020-10-13 17:59] dosumis commented on #70
@cmungall  - any idea why this might be the case?

[2020-10-14 10:58] dosumis commented on #70
CC @julesjacobsen

[2020-10-27 11:37] julesjacobsen commented on #70
So when you say 'recently' has there been a change to the obographs library you're using?

[2020-10-27 11:41] dosumis commented on #70
I'm not using directly.  It comes through re-use in OWL-API.  @cmungall would know if/when there have been changes there.  Note - it could be that there's some subtle difference is source (OWL/OBO) files that is causing the change.  If so, not obvious what that might be.

[2020-10-27 11:44] julesjacobsen commented on #70
It's probably more likely that's the case as the obographs library hasn't been changed in a long while. There is a new version in the immutables branch, but this should produce identical output.

[2020-10-27 16:42] julesjacobsen commented on #70
What ontology are you using? Simply loading `upheno.owl` using owl api and then converting to obographs yaml produces this:

[code]

[2020-10-27 16:48] dosumis commented on #70
http://purl.obolibrary.org.obo/fbbt.owl
- although rather than converting from OWL on demand, I'm using a JSON file produced  by the release pipeline, which uses ROBOT to call obographs code:

https://github.com/ontodev/robot/blob/c4524c031fae8f836c6ca434d86ee2b76034b6f0/robot-core/src/main/java/org/obolibrary/robot/IOHelper.java#L29

[2021-03-30 16:31] kvarforl opened #71 "Datatype Properties not represented as nodes?"
Moving https://github.com/biolink/ontobio/issues/507 to here, per [this](https://github.com/biolink/ontobio/issues/507#issuecomment-796027525) comment:

Example of the issue is [here](https://github.com/biolink/ontobio/issues/507#issue-781859966).

[2021-06-25 17:02] cmungall opened #75 "genus-differentia logicalDefinitionAxioms should have one or more restrictions"
it looks like

[2021-06-25 17:09] cmungall opened #76 "merge in linkml repo"
@sierra-moxon made:

https://github.com/biodatamodels/obograph

Should we merge repos? I think the options are

 1. monorepo, covering spec, java data model, java conversion from owl code, python datamodel, json-schema, linkml schema, autogen docs
 2. three repos:
     - spec (combining linkml and json-schema)
     - java
     - python
 3. keep as is

[2021-06-29 10:20] julesjacobsen commented on #75
@cmungall can you give an example of the OWL input and expected YAML output for this issue? The example you gave appears to have these.

[code]

[2021-08-31 16:33] hrshdhgd opened #79 "EDAM.owl throwing an exception"
I'm trying to convert [EDAM.owl](http://edamontology.org/page#Download) _(Always the latest stable version, in OWL format)_ into JSON format using [ROBOT](http://robot.obolibrary.org) which in turn is calling the obographs library. Obographs throws a `NullPointerException` in `generateGraph()` which looks like this:

[code]

One of my colleagues tracked it down to [this part of the code](https://g

[2021-08-31 22:31] cmungall commented on #79
Thanks, this is the correct place to make an issue

I reported the issue with EDAM:
https://github.com/edamontology/edamontology/issues/751

While the EDAM OWL is still valid, it violates some of the norms expected by the conversion to JSON. The JSON conversion should be more robust. And we also need better validation of ontology schemas which will be provided by OMO

[2021-09-02 20:11] matuskalas commented on #79
https://github.com/edamontology/edamontology/issues/751 is now fixed, big thanks for finding it!

This issue might be a more appropriate place to ask this: Is it such a showstopper for your workflow that you'd prefer us patching it also in the (otherwise) stable release at https://edamontology.org/EDAM.owl?

[2022-04-20 08:53] julesjacobsen opened #80 "Add a CLI for converting OWL -> JSON"

[2022-04-20 09:36] matentzn commented on #80
If it is at all possible than the way back (JSON->OWL) would be very appreciated as well.

[2022-04-20 12:45] matentzn commented on #80
Yes, but read [above](https://github.com/monarch-initiative/phenol/issues/372).

Problem is that phenol uses the new obographs which cannot read the old obographs files..

[2022-04-20 12:47] balhoff commented on #80
Ah - I guess we can move forward in ROBOT now that we dropped support for Java 8.

[2022-05-25 14:54] beckyjackson commented on #42
This was supposed to be closed as per comment above.

[2022-06-06 15:24] cthoyt commented on #76
I would vote for monorepo

[2022-06-06 15:28] cthoyt opened #83 "Better annotate which graph is the "main" one when converting an OWL file"
When I use ROBOT’s convert function to turn an ontology into OBO Graph JSON (which in turn is based on the code in this repository), how do I know which graph is the “main” graph?

E.g., I did `robot convert -I http://www.bioassayontology.org/bao/bao_complete.owl` -o test.json then the following in Python script to look at each graph’s URI (which is called an ID in the OBO Graph JSON schema)

[cod

[2022-06-23 09:16] matentzn opened #84 "What is the canonical captialisation of OBO Graphs?"
1. OBO Graphs
2. OBO-Graphs
3. OBOGraphs
4. OboGraphs
5. obographs
6. obo-graphs

Thank you.

[2022-08-16 08:06] matentzn opened #85 "How do I convert an obographs json file into OWL?"
We have converters the other way around. Would this be at all possible with the current API? @julesjacobsen

[2022-10-03 12:40] julesjacobsen commented on #85
Maybe? This is really a question for @cmungall - is the conversion one-way or would it be feasible to write a converter back to OWL?

I'm willing to spend some time to do this but I don't know OWL well enough to say one way or another.

[2022-10-03 12:58] matentzn commented on #85
Probably this is the answer:

https://github.com/geneontology/obographs/blob/master/obographs-owlapi/src/main/java/org/geneontology/obographs/owlapi/OboGraphJsonDocumentFormat.java

I am not 100% sure what the plan is here.. While I appreciate that a lot of work is going into our move to python-land, this seems a bit like a gaping hole!

Thanks @julesjacobsen :)

[2022-10-03 14:38] julesjacobsen commented on #85
@matentzn if you point me to a Python implementation of Obographs -> OWL I'd be happy to implement that here.

[2022-10-03 18:00] matentzn commented on #85
Implementing a full fledged parser is maybe not trivial.

In property OWLAPI land, this can become an endeavour. Here are all classes related to the Functional syntax parser:

https://github.com/owlcs/owlapi/tree/version4/parsers/src/main/java/org/semanticweb/owlapi/functional

I don't know how all of this fits together - maybe a `OWLOntology o = OBOGraphs.parse(FileInputStream f)` Would be suffic

[2022-10-17 20:40] joeflack4 commented on #80
@julesjacobsen Are there any docs for the CLI? I tried running `--help` on the [`.jar`](https://github.com/geneontology/obographs/releases/tag/v0.3.0), but no luck.

[code]

[2022-10-19 18:44] cmungall commented on #80
I'm a bit confused here. I don't understand why phenol is relevant on a question about a CLI for obographs

I think for CLI usage of this library, we should direct people to robot. There is excellent hosted documentation, it is available in the ODK docker, there is a single locus for support.

I think using obographs-cli.jar is great for developers of this library, we can easily test branches and

[2022-10-19 18:45] cmungall commented on #47
Closing at looks like this is done

[2022-10-19 18:45] #47 closed

[2022-10-19 18:47] cmungall commented on #41
Can't reproduce, this works for me:

`robot convert -I http://purl.obolibrary.org/obo/geno.owl -o /tmp/geno.owl`

[2022-10-19 18:47] #41 closed

[2022-10-19 18:47] cmungall commented on #61
perhaps we could even remove this from the schema?

[2022-10-19 18:53] cmungall commented on #85
A preliminary implementation was introduced in:

https://github.com/INCATools/ontology-access-kit/releases/tag/v0.1.45

Command line:

`runoak -i tests/input/go-nucleus.owl dump -o /tmp/test.ttl -O ttl`

This is the code. It's pretty simple even when working at a low RDF level:

https://github.com/INCATools/ontology-access-kit/blob/main/src/oaklib/converters/obo_graph_to_rdf_owl_converter.py

I'm

[2022-10-19 18:53] #85 closed

[2022-10-19 18:55] cmungall opened #87 "Implement reverse translation from OboGraphs to OWL"
There is existing python code as described in #85

But we also want the reverse translation in java as part of this library, so it's usable by robot, phenol, etc.

This should be much easier than owl->obographs which requires builders and doing template recognition in the OWLAPI

[2022-10-19 20:36] joeflack4 commented on #80
Good to know. I know this is thus not high priority, but @julesjacobsen FYI, `obographs-cli.jar` is not in the [releases](https://github.com/geneontology/obographs/releases). Ideally I would also ask that the `README` have a table of params for the CLI too as well; again, not a high priority since there are are other means (e.g. `robot`).